<mat-sidenav-container class="sidenav-container" *ngIf = 'isLogin'>
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/sections']">Section</a>
        <a mat-list-item [routerLink]="['/subjects']">Matière</a>
        <a mat-list-item [routerLink]="['/meeting']">Séances</a>
        <a mat-list-item [routerLink]="['/mymeeting',currentUser.id,'connect']">Connections</a>      
        <a mat-list-item *ngIf = "isAdmin" [routerLink]="['/mymeeting',currentUser.id,'admin']">Mes séances</a>      
        <a mat-list-item *ngIf = "isAdmin" [routerLink]="['/users']">Utilisateurs</a>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Bienvenue {{currentUser.firstName}} </span>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>  