<button mat-flat-button color="primary"  class="pull-right"  (click)="openDialog()">Ajouter
  <mat-icon svgIcon="add">system_add</mat-icon>
</button> 
<div class="mat-elevation-z12" style="margin-bottom: 10px">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let item of documents; let i = index">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.user.firstName }} {{item.user.lastName }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ item.description }}
        </p>
      </mat-card-content>
     
      <mat-card-actions class="row" layout-align="start center">
        <div class="col-sm-9" >
            <button mat-button color="warn" (click) = "addLike(item)" >J'aime</button>
          <button mat-button color="accent" (click) = "downloadDocumented(item)">Download</button>
          <button mat-button color="warn" *ngIf = "currentUser.id==item.user.id" (click) = "redirectToDelete(item.id)" >Supprimer</button>
        </div>
        <div class="col-sm-9" >
          <button mat-button color="warn" >{{item.voteNumber}}
            <mat-icon svgIcon="like"></mat-icon>
          </button>
          <button mat-button color="accent" >{{item.downloadNumber}}
              <mat-icon svgIcon="get_app"></mat-icon>
          </button>
          <!--<mat-icon class ="mat-button-right" svgIcon="airplane"></mat-icon>-->
        </div>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</div>
<mat-paginator #paginator
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="pageEvent = getServerData($event)"
  >
</mat-paginator>