<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Nom"
               formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Description"
               formControlName="description">
    </mat-form-field>
    <div class=" col-md-offset-1 col-md-4">  
          
        <label for="profileImage">Upload Image</label>  
          <input formControlName="file" class="form-control" type="file" (change)="selectFile($event)">   
      </div>  
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled] = "false" (click)="save()">Save</button>
</mat-dialog-actions>