<div class="form-group centered-element">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="username" name="email" required>
              </mat-form-field>
            
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
      <button mat-raised-button class="pull-right" [routerLink]="'/register'" color="primary">Register</button>
      <button mat-raised-button class="pull-right" [routerLink]="'/changepassword'" color="primary">change password</button>
    </mat-card-actions>
  </mat-card>
</div>