<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Fermer</button>
    <button class="mat-raised-button mat-primary"(click)="delete()">Supprimer</button>
</mat-dialog-actions>