<div class = "container">
    <h2 class="text-center">{{title}}</h2>
    <alert></alert>
    <form [formGroup]="addForm" >
      <div class="form-group col-md-9">
        <label for="email">Email:</label>
        <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
      </div>
  
      <div class="form-group col-md-9">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
      </div>
  
      <div class="form-group col-md-9">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      </div>
  
      <div class="form-group col-md-9">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div> 
      <div class="form-group col-md-9">
            <mat-form-field floatPlaceholder="never" shouldPlaceholderFloat="false"  >
                <mat-select placeholder="Role" (focusout)="onOut()" [(ngModel)]="selectedValue" formControlName="role"   >
                <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                </mat-select>
            </mat-form-field>
      </div>
    </form>
</div>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="btn btn-success" (click)="onSubmit()">Create</button>        
</mat-dialog-actions>   

  