<!-- main app container --> 
<div *ngIf="isLogin ;
                then incoming_msg;
                else outgoing_msg" >
                             </div>    
<ng-template #incoming_msg > 
      <app-my-nav></app-my-nav>    
  <div class="offset-sm-2">
      <alert></alert>
      <router-outlet></router-outlet>
  </div>
</ng-template>
<ng-template #outgoing_msg> 
    <alert></alert>
    <router-outlet></router-outlet>
</ng-template>