<h2 mat-dialog-title>{{title}}</h2>
<mat-form-field floatPlaceholder="never" shouldPlaceholderFloat="false"  >
        <mat-select placeholder="Matière" (focusout)="onOut()" [(ngModel)]="selectedValue" [formControl]="subjectsForm" multiple  >
          <mat-option *ngFor="let subject of subjects" [value]="subject">{{subject.name}}</mat-option>
        </mat-select>
      </mat-form-field>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>