<!--<button mat-icon-button color="accent" (click)="openDialog()">
    <mat-icon class="mat-18 pull-right">system_update</mat-icon>
</button>-->
<button mat-flat-button color="primary"  class="pull-right" *ngIf = "isAdmin" (click)="openDialog()">Ajouter
  <mat-icon >system_add</mat-icon>
</button>
<div class="mat-elevation-z12" style="margin-bottom: 10px">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let item of subjects; let i = index">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ item.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" [routerLink]="['/subject',item.id,'documents']">Document</button>
        <button mat-button color="warn" (click)="redirectToDelete(item.id)">Supprimer</button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</div>
<mat-paginator #paginator *ngIf = "subjects.length != 0"
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="pageEvent = getServerData($event)"
  >
</mat-paginator>
<!--<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
   
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
   
    <ng-container matColumnDef="Document">
      <th mat-header-cell *matHeaderCellDef> Document </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" [routerLink]="['/subject',element.id,'documents']">
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>
   
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>-->
