/* You can add global styles to this file, and also import other style files */
.table{
    width: 97%;
}
@media (width: 768px){
.offset-sm-2{
    margin-left : 18%;
}}
@media (min-width: 1025px){
    .offset-sm-2 {
        margin-left: 11%;
    }
    }
@media (width: 1024px){
.offset-sm-2 {
    margin-left: 16%;
}
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.alert{
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}
.mat-button-right .button-group {
    position: relative;
    right: 1110px;
    margin: 1110px;
  }
  .centered-element {
    height: 500px;
    width: 400px;
    position: absolute;
    left: 40%;
    margin-left: -50px;
    top: 20%;
    margin-top: -50px;
  }
  