<mat-card>
    <mat-card-content>
      <h2 class="example-h2">Angular Material Checkbox Example</h2> 
        <section class="example-section" *ngFor="let cartoon of cartoonsData">
          <mat-checkbox class="example-margin"
              (change)="onChangeEventFunc(cartoon.name, $event)">
          {{ cartoon.name }}
          </mat-checkbox>
        </section>
        <button mat-raised-button color="accent">Submit</button> 
    </mat-card-content>
    </mat-card>