
<div class="mat-elevation-z12" style="margin-bottom: 10px">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let item of meetings; let i = index">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nom: {{ item.name }}</mat-card-title>
        <mat-card-title color="warn">Code: {{ item.code }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ item.description }}
        </p>
      </mat-card-content>
      <mat-card-actions> 
        <button mat-button color="accent" [routerLink]="['/meeting',item.id,'user']">Connectés</button>
        <button mat-button color="warn"  (click)="connecteToMeeting(item)">Connecter</button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</div>
<mat-paginator #paginator *ngIf = "meetings.length != 0"
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="pageEvent = getServerDataAllMeeting($event)"
  >
</mat-paginator>
<!--<p>
  yami-code-socket works!
</p>

<form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
  <p>User Information: (if user id(toId) is null the message will be sended to all users) </p>
  <div style="margin-bottom: 20px;">
    <input type="text" formControlName="fromId" name="fromId" placeholder="Your id">
    <input type="submit" [disabled]="userForm.invalid || isCustomSocketOpened" value="open socket to recieve custom messages">
  </div>
  <input type="text" formControlName="toId" name="toId" placeholder="User id to send the message to">
</form>
<form [formGroup]="form" (submit)="sendMessageUsingSocket()">
  <p>Message: </p>
  <input type="text" formControlName="message" name="message" placeholder="Message">
  <input type="submit" [disabled]="form.invalid || userForm.invalid" value="Send using socket subscription">
  <input type="button" [disabled]="form.invalid || userForm.invalid" value="Send using a rest controller" (click)="sendMessageUsingRest()">
</form>
<ul>
  <li *ngFor="let message of messages">From: {{message.fromId}}, To: {{message.toId}}, Message: {{message.message}}</li>
</ul>-->