
<button mat-flat-button color="primary"  class="pull-right" *ngIf = "isAdmin" (click)="openDialog()">Ajouter
  <mat-icon >system_add</mat-icon>
</button>
  <div class="mat-elevation-z12" style="margin-bottom: 10px">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of meetings; let i = index">
      <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nom: {{ item.name }}</mat-card-title>
          <mat-card-title color="warn">Code: {{ item.code }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ item.description }}
          </p>
        </mat-card-content>
        <mat-card-actions> 
          <button mat-button color="accent" [routerLink]="['/meeting',item.id,'user']">Connectés</button>
          <button mat-button color="accent" (click)="redirectToDelete(item)">Supprimer</button>
        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </div>
  <mat-paginator #paginator *ngIf = "meetings.length != 0"
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEvent = getServerDataAllMeetingByUserAdmin($event)"
    >
  </mat-paginator>