<div class="content" role="main">
    <div class="container">
      <h3 class=" text-center">Stream Messaging</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="channel_heading">
                <h4>Channels</h4>
              </div>
            </div>
            <div class="inbox_chat">
              <div class="channels" *ngFor="let message of messages">
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_ib">
                      <h5>
                        {{ message.from.firstName }}
                      </h5>
                      <p>
                        {{
                            message.message
                        }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mesgs">
            <div class="msg_history">
              <li class="message" *ngFor="let message of messages">
                <div *ngIf="message.from.id !== this.currentUser.id ;
                then incoming_msg;
                else outgoing_msg" >
                             </div>
                <ng-template #incoming_msg>
                  <div class="incoming_msg">
                    <div class="incoming_msg_img">
                      <img
                        src="https://i.imgur.com/k2PZLZa.png"
                        alt="User avatar"
                      />
                    </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        {{ message.from.firstName }} :
                        <p>{{ message.message }}</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template #outgoing_msg>
                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p>{{ message.message }}</p>
                    </div>
                  </div>
                </ng-template>
              </li>
            </div>
            <div class="type_msg">
              <button class="msg_send_btn" *ngIf = "!isConnect" type="button" (click)="openSocket()"> 
                <span class="material-icons">
                  play_for_work
                  </span>
            </button>
              <form [formGroup]="form" *ngIf = "isConnect" class="input_msg_write">
                <input type="text" formControlName="message" name="message" placeholder="Message"
                />         
                <button class="msg_send_btn" type="button" [disabled]="form.invalid" (click)="sendMessageUsingRest()"> 
                    <span class="material-icons">
                        send
                    </span>
                    <span class="material-icons">
                      play_for_work
                      </span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--<p>
    yami-code-socket works!
  </p>
  <form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
    <p>User Information: (if user id(toId) is null the message will be sended to all users) </p>
    <div style="margin-bottom: 20px;">
      <input type="text" formControlName="fromId" name="fromId" placeholder="Your id">
      <input type="submit" [disabled]="userForm.invalid || isCustomSocketOpened" value="open socket to recieve custom messages">
    </div>
    <input type="text" formControlName="toId" name="toId" placeholder="User id to send the message to">
  </form>
  
  <ul>
    <li *ngFor="let message of messages">From: {{message.fromId}}, To: {{message.toId}}, Message: {{message.message}}</li>
  </ul>-->