<div class = "container">
    <h2 class="text-center">Nouveau utilisateur</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-xl-4">
        <label for="username">User Name:</label>
        <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
      </div>
  
      <div class="form-group col-xl-4">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
      </div>
  
      <div class="form-group col-xl-4">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      </div>
  
      <div class="form-group col-xl-4">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>
      <button mat-raised-button color="primary">Create</button>
      <button mat-raised-button class="pull-right" [routerLink]="'/login'" color="primary">Login</button>
    </form> 
</div>
  